BACKEND_PORT=
FRONTEND_URL=
PUBLIC_APP_URL=
APP_FIREBASE_WEB_API_KEY=
PUBLIC_BACKEND_URL=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_REDIRECT_URL=
MERCADO_PAGO_NOTIFICATION_URL=
APP_FIREBASE_PROJECT_ID=
APP_FIREBASE_PRIVATE_KEY_ID=
APP_FIREBASE_PRIVATE_KEY=
APP_FIREBASE_CLIENT_EMAIL=
APP_FIREBASE_CLIENT_ID=
APP_FIREBASE_CLIENT_X509_CERT_URL=
