BACKEND_PORT=3000
FRONTEND_URL=http://localhost:4200
PUBLIC_APP_URL=https://soslive-f7513.web.app
APP_FIREBASE_WEB_API_KEY=tu_web_api_key
APP_FIREBASE_PROJECT_ID=soslive-f7513
APP_FIREBASE_PRIVATE_KEY_ID=tu_private_key_id
APP_FIREBASE_PRIVATE_KEY=tu_private_key
APP_FIREBASE_CLIENT_EMAIL=tu_client_email
APP_FIREBASE_CLIENT_ID=tu_client_id
APP_FIREBASE_CLIENT_X509_CERT_URL=tu_client_x509_cert_url
